@import '../Mixin/FontsMixins.sass'

.footer 
	max-width: 100%
	background: #CFCECE
	&-title
		@include bold
		font-size: 24px
		margin-top: 100px 
	&-subtitle
		margin-top: 16px
		font-size: 16px
		color: #000000
	&-input
		width: 404px
		height: 60px
		background: #ECEBEB
		border-radius: 10px
.primary 
	width: 190px;
	height: 60px;
	border-radius: 10px
	cursor: pointer
	text-align: center
	background: rgba(0, 0, 0, 0.5)
